.card1{
    border: 0.1px solid black ;
    height: 300px;
    width: 400px;
    
}
.flex{
    display: flex;
    /* margin-top: 400px; */
    justify-content: space-evenly;

}
.card1:hover{
    transform: scale(0.9);
    transition: 2s;
}
.card:hover{
    transform: scale(0.9);
    transition: 2s;
}
.flex1{
    display: flex;
    justify-content: space-evenly;
}
.box{
    border: 0.1px solid black;
    height: 300px;
    background-color: gray;
}
.img{
    margin-left: 300px;
}